In [133]:
import pandas as pd
import numpy as np
import altair as alt

In [134]:
df = pd.read_csv("data/train.csv")
# df.drop(columns=["id"], inplace=True)

In [135]:
df.head()

,Year_Factor,State_Factor,building_class,facility_type,floor_area,year_built,energy_star_rating,ELEVATION,january_min_temp,january_avg_temp,...,days_above_80F,days_above_90F,days_above_100F,days_above_110F,direction_max_wind_speed,direction_peak_wind_speed,max_wind_speed,days_with_fog,site_eui,id
0,1,State_1,Commercial,Grocery_store_or_food_market,61242.0,1942.0,11.0,2.4,36,50.5,...,14,0,0,0,1.0,1.0,1.0,NaN,248.682615,0
1,1,State_1,Commercial,Warehouse_Distribution_or_Shipping_center,274000.0,1955.0,45.0,1.8,36,50.5,...,14,0,0,0,1.0,NaN,1.0,12.0,26.500150,1
2,1,State_1,Commercial,Retail_Enclosed_mall,280025.0,1951.0,97.0,1.8,36,50.5,...,14,0,0,0,1.0,NaN,1.0,12.0,24.693619,2
3,1,State_1,Commercial,Education_Other_classroom,55325.0,1980.0,46.0,1.8,36,50.5,...,14,0,0,0,1.0,NaN,1.0,12.0,48.406926,3
4,1,State_1,Commercial,Warehouse_Nonrefrigerated,66000.0,1985.0,100.0,2.4,36,50.5,...,14,0,0,0,1.0,1.0,1.0,NaN,3.899395,4

In [136]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75757 entries, 0 to 75756
Data columns (total 64 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Year_Factor                75757 non-null  int64
 1   State_Factor               75757 non-null  object
 2   building_class             75757 non-null  object
 3   facility_type              75757 non-null  object
 4   floor_area                 75757 non-null  float64
 5   year_built                 73920 non-null  float64
 6   energy_star_rating         49048 non-null  float64
 7   ELEVATION                  75757 non-null  float64
 8   january_min_temp           75757 non-null  int64
 9   january_avg_temp           75757 non-null  float64
 10  january_max_temp           75757 non-null  int64
 11  february_min_temp          75757 non-null  int64
 12  february_avg_temp          75757 non-null  float64
 13  february_max_temp          75757 non-null  int64
 14  march_min_temp             75757 non-null  int64
 15  march_avg_temp             75757 non-null  float64
 16  march_max_temp             75757 non-null  int64
 17  april_min_temp             75757 non-null  int64
 18  april_avg_temp             75757 non-null  float64
 19  april_max_temp             75757 non-null  int64
 20  may_min_temp               75757 non-null  int64
 21  may_avg_temp               75757 non-null  float64
 22  may_max_temp               75757 non-null  int64
 23  june_min_temp              75757 non-null  int64
 24  june_avg_temp              75757 non-null  float64
 25  june_max_temp              75757 non-null  int64
 26  july_min_temp              75757 non-null  int64
 27  july_avg_temp              75757 non-null  float64
 28  july_max_temp              75757 non-null  int64
 29  august_min_temp            75757 non-null  int64
 30  august_avg_temp            75757 non-null  float64
 31  august_max_temp            75757 non-null  int64
 32  september_min_temp         75757 non-null  int64
 33  september_avg_temp         75757 non-null  float64
 34  september_max_temp         75757 non-null  int64
 35  october_min_temp           75757 non-null  int64
 36  october_avg_temp           75757 non-null  float64
 37  october_max_temp           75757 non-null  int64
 38  november_min_temp          75757 non-null  int64
 39  november_avg_temp          75757 non-null  float64
 40  november_max_temp          75757 non-null  int64
 41  december_min_temp          75757 non-null  int64
 42  december_avg_temp          75757 non-null  float64
 43  december_max_temp          75757 non-null  int64
 44  cooling_degree_days        75757 non-null  int64
 45  heating_degree_days        75757 non-null  int64
 46  precipitation_inches       75757 non-null  float64
 47  snowfall_inches            75757 non-null  float64
 48  snowdepth_inches           75757 non-null  int64
 49  avg_temp                   75757 non-null  float64
 50  days_below_30F             75757 non-null  int64
 51  days_below_20F             75757 non-null  int64
 52  days_below_10F             75757 non-null  int64
 53  days_below_0F              75757 non-null  int64
 54  days_above_80F             75757 non-null  int64
 55  days_above_90F             75757 non-null  int64
 56  days_above_100F            75757 non-null  int64
 57  days_above_110F            75757 non-null  int64
 58  direction_max_wind_speed   34675 non-null  float64
 59  direction_peak_wind_speed  33946 non-null  float64
 60  max_wind_speed             34675 non-null  float64
 61  days_with_fog              29961 non-null  float64
 62  site_eui                   75757 non-null  float64
 63  id                         75757 non-null  int64
dtypes: float64(24), int64(37), object(3)
memory usage: 37.0+ MB

In [137]:
TARGET_COLUMN = "site_eui"

In [138]:
# numeric_data = df.select_dtypes(include=[np.number])
# categorical_data = df.select_dtypes(exclude=[np.number])

# numeric_features = numeric_data.columns.tolist()
# numeric_features.remove(TARGET_COLUMN)
# categorical_features = categorical_data.columns.tolist()

In [139]:
# numeric_features

In [140]:
# categorical_features

### Feature Engineering/Selection

In [141]:
df

,Year_Factor,State_Factor,building_class,facility_type,floor_area,year_built,energy_star_rating,ELEVATION,january_min_temp,january_avg_temp,...,days_above_80F,days_above_90F,days_above_100F,days_above_110F,direction_max_wind_speed,direction_peak_wind_speed,max_wind_speed,days_with_fog,site_eui,id
0,1,State_1,Commercial,Grocery_store_or_food_market,61242.0,1942.0,11.0,2.4,36,50.500000,...,14,0,0,0,1.0,1.0,1.0,NaN,248.682615,0
1,1,State_1,Commercial,Warehouse_Distribution_or_Shipping_center,274000.0,1955.0,45.0,1.8,36,50.500000,...,14,0,0,0,1.0,NaN,1.0,12.0,26.500150,1
2,1,State_1,Commercial,Retail_Enclosed_mall,280025.0,1951.0,97.0,1.8,36,50.500000,...,14,0,0,0,1.0,NaN,1.0,12.0,24.693619,2
3,1,State_1,Commercial,Education_Other_classroom,55325.0,1980.0,46.0,1.8,36,50.500000,...,14,0,0,0,1.0,NaN,1.0,12.0,48.406926,3
4,1,State_1,Commercial,Warehouse_Nonrefrigerated,66000.0,1985.0,100.0,2.4,36,50.500000,...,14,0,0,0,1.0,1.0,1.0,NaN,3.899395,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75752,6,State_11,Commercial,Office_Uncategorized,20410.0,1995.0,8.0,36.6,28,43.451613,...,25,3,0,0,NaN,NaN,NaN,NaN,132.918411,75752
75753,6,State_11,Residential,5plus_Unit_Building,40489.0,1910.0,98.0,36.6,28,43.451613,...,25,3,0,0,NaN,NaN,NaN,NaN,39.483672,75753
75754,6,State_11,Commercial,Commercial_Other,28072.0,1917.0,NaN,36.6,26,36.612903,...,6,0,0,0,NaN,NaN,NaN,NaN,48.404398,75754
75755,6,State_11,Commercial,Commercial_Other,53575.0,2012.0,NaN,36.6,26,36.612903,...,6,0,0,0,NaN,NaN,NaN,NaN,592.022750,75755
75756,6,State_11,Residential,2to4_Unit_Building,23888.0,1974.0,51.0,36.6,27,36.935484,...,16,0,0,0,NaN,NaN,NaN,NaN,29.154684,75756

In [142]:
# Find Standard Deviation of min, max and avg temp among months
min_temps = [
    "january_min_temp",
    "february_min_temp",
    "march_min_temp",
    "april_min_temp",
    "may_min_temp",
    "june_min_temp",
    "july_min_temp",
    "august_min_temp",
    "september_min_temp",
    "october_min_temp",
    "november_min_temp",
    "december_min_temp"
]

max_temps = [
    "january_max_temp",
    "february_max_temp",
    "march_max_temp",
    "april_max_temp",
    "may_max_temp",
    "june_max_temp",
    "july_max_temp",
    "august_max_temp",
    "september_max_temp",
    "october_max_temp",
    "november_max_temp",
    "december_max_temp"
]

avg_temps = [
    "january_avg_temp",
    "february_avg_temp",
    "march_avg_temp",
    "april_avg_temp",
    "may_avg_temp",
    "june_avg_temp",
    "july_avg_temp",
    "august_avg_temp",
    "september_avg_temp",
    "october_avg_temp",
    "november_avg_temp",
    "december_avg_temp",
]

df["min_temp_std"] = df[min_temps].T.std()
df["max_temp_std"] = df[max_temps].T.std()
df["avg_temp_std"] = df[avg_temps].T.std()

In [143]:
df.head()

,Year_Factor,State_Factor,building_class,facility_type,floor_area,year_built,energy_star_rating,ELEVATION,january_min_temp,january_avg_temp,...,days_above_110F,direction_max_wind_speed,direction_peak_wind_speed,max_wind_speed,days_with_fog,site_eui,id,min_temp_std,max_temp_std,avg_temp_std
0,1,State_1,Commercial,Grocery_store_or_food_market,61242.0,1942.0,11.0,2.4,36,50.5,...,0,1.0,1.0,1.0,NaN,248.682615,0,6.575897,7.432525,5.500612
1,1,State_1,Commercial,Warehouse_Distribution_or_Shipping_center,274000.0,1955.0,45.0,1.8,36,50.5,...,0,1.0,NaN,1.0,12.0,26.500150,1,6.575897,7.432525,5.500612
2,1,State_1,Commercial,Retail_Enclosed_mall,280025.0,1951.0,97.0,1.8,36,50.5,...,0,1.0,NaN,1.0,12.0,24.693619,2,6.575897,7.432525,5.500612
3,1,State_1,Commercial,Education_Other_classroom,55325.0,1980.0,46.0,1.8,36,50.5,...,0,1.0,NaN,1.0,12.0,48.406926,3,6.575897,7.432525,5.500612
4,1,State_1,Commercial,Warehouse_Nonrefrigerated,66000.0,1985.0,100.0,2.4,36,50.5,...,0,1.0,1.0,1.0,NaN,3.899395,4,6.575897,7.432525,5.500612

In [190]:
# Find monthwise difference between the temperatures

In [192]:
# days_above ranges
# days_below ranges
# find their sums to see if they are yearly/monthly/etc.
days_above_below = [
    "days_below_30F",
    "days_below_20F",
    "days_below_10F",
    "days_below_0F",
    "days_above_80F",
    "days_above_90F",
    "days_above_100F",
    "days_above_110F",
]

df["0-10"] = df["days_below_10F"] - df["days_below_0F"]
df["10-20"] = df["days_below_20F"] - df["days_below_10F"]
df["20-30"] = df["days_below_30F"] - df["days_below_20F"]
df["80-90"] = df["days_above_80F"] - df["days_above_90F"]
df["90-100"] = df["days_above_90F"] - df["days_above_100F"]
df["100-110"] = df["days_above_100F"] - df["days_above_110F"]

In [146]:
# Do something about missing values in direction_max_wind_speed and direction_peak_wind_speed

In [176]:
numeric_features = [
    "floor_area",
    "year_built",
    "energy_star_rating",
    "ELEVATION",
    
    # "january_min_temp",
    # "january_avg_temp",
    # "january_max_temp",
    # "february_min_temp",
    # "february_avg_temp",
    # "february_max_temp",
    # "march_min_temp",
    # "march_avg_temp",
    # "march_max_temp",
    # "april_min_temp",
    # "april_avg_temp",
    # "april_max_temp",
    # "may_min_temp",
    # "may_avg_temp",
    # "may_max_temp",
    # "june_min_temp",
    # "june_avg_temp",
    # "june_max_temp",
    # "july_min_temp",
    # "july_avg_temp",
    # "july_max_temp",
    # "august_min_temp",
    # "august_avg_temp",
    # "august_max_temp",
    # "september_min_temp",
    # "september_avg_temp",
    # "september_max_temp",
    # "october_min_temp",
    # "october_avg_temp",
    # "october_max_temp",
    # "november_min_temp",
    # "november_avg_temp",
    # "november_max_temp",
    # "december_min_temp",
    # "december_avg_temp",
    # "december_max_temp",
    
    "cooling_degree_days",
    "heating_degree_days",
    "precipitation_inches",
    "snowfall_inches",
    "snowdepth_inches",
    "avg_temp",
    "days_below_30F",
    "days_below_20F",
    "days_below_10F",
    "days_below_0F",
    "days_above_80F",
    "days_above_90F",
    "days_above_100F",
    "days_above_110F",
    "max_wind_speed",
    "days_with_fog",
    "min_temp_std",
    "max_temp_std",
    "avg_temp_std",
    "0-10",
    "10-20",
    "20-30",
    "80-90",
    "90-100",
    "100-110"
] + min_temps + max_temps + avg_temps

categorical_features = [
    "Year_Factor",
    "State_Factor",
    "building_class",
    "facility_type",
    "direction_max_wind_speed",
    "direction_peak_wind_speed"
]

drop_columns = [
    "id"
]

In [177]:
len(numeric_features) + len(categorical_features) + len(drop_columns)

72

In [178]:
# ind = 58
# print(numeric_features[ind])
# print(X_train[numeric_features[ind]].value_counts().size)
# print()
# print(X_train[numeric_features[ind]].value_counts())

## Model

In [179]:
from sklearn.model_selection import (
    cross_val_score,
    cross_validate,
    train_test_split,
    RandomizedSearchCV
)

from sklearn.preprocessing import (
    OneHotEncoder,
    StandardScaler,
    FunctionTransformer,
    PolynomialFeatures
)

from sklearn.impute import SimpleImputer

from sklearn.pipeline import make_pipeline
from sklearn.compose import make_column_transformer

from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import Ridge

from catboost import CatBoostRegressor
from lightgbm.sklearn import LGBMRegressor
from xgboost import XGBRegressor

from sklearn.tree import DecisionTreeRegressor

from sklearn.metrics import precision_recall_curve
from sklearn.metrics import roc_curve

from sklearn.metrics import mean_absolute_percentage_error
from sklearn.metrics import mean_squared_error

from sklearn.ensemble import StackingClassifier

In [180]:
import time

In [181]:
train_df, val_df = train_test_split(
    df,
    test_size=0.1,
    random_state=123
)

X_train, y_train = train_df.drop(columns=[TARGET_COLUMN]), train_df[TARGET_COLUMN]
X_val, y_val = val_df.drop(columns=[TARGET_COLUMN]), val_df[TARGET_COLUMN]

In [182]:
for dt in [X_train, X_val, y_train, y_val]:
    print(dt.shape)

(68181, 72)
(7576, 72)
(68181,)
(7576,)

In [183]:
def cross_val_scores(model, X_train, y_train, X_val, y_val, return_train_score=False):

    model.fit(X_train, y_train)
    y_val_pred = model.predict(X_val)

    score_dict = {
        "r2_val": model.score(X_val, y_val),
        "mse_val": mean_squared_error(y_val, y_val_pred),
        "mape_val": mean_absolute_percentage_error(y_val, y_val_pred)
    }

    if return_train_score:
        y_train_pred = model.predict(X_train)

        score_dict["r2_train"] = model.score(X_train, y_train)
        score_dict["mse_train"] = mean_squared_error(y_train, y_train_pred)
        score_dict["mape_train"] = mean_absolute_percentage_error(y_train, y_train_pred)

    scores_result = pd.Series(score_dict)

    return model, scores_result

In [184]:
pipe_numeric_feats = make_pipeline(
    SimpleImputer(strategy="mean"),
    StandardScaler()
)

pipe_cat_feats = make_pipeline(
    SimpleImputer(strategy="most_frequent"),
    OneHotEncoder()
)

column_transformer = make_column_transformer(
    (pipe_numeric_feats, numeric_features),
    (OneHotEncoder(), categorical_features),
    ("drop", drop_columns)
)

In [185]:
pipe_lr = make_pipeline(column_transformer, Ridge(max_iter=10000))
pipe_dt = make_pipeline(column_transformer, DecisionTreeRegressor())
# pipe_nb = make_pipeline(
#    column_transformer,
# #    FunctionTransformer(lambda x: x.todense(), accept_sparse=True),
#    GaussianNB())
# pipe_svc = make_pipeline(column_transformer, SVC())
pipe_rf = make_pipeline(column_transformer, RandomForestRegressor())
pipe_xgb = make_pipeline(column_transformer, XGBRegressor(verbosity=0))
pipe_lgbm = make_pipeline(column_transformer, LGBMRegressor())
pipe_catboost = make_pipeline(column_transformer, CatBoostRegressor(verbose=False))

In [186]:
models = {
    "Logistic Regression": pipe_lr,
    "Decision Tree": pipe_dt,
    "Random Forest": pipe_rf,
    "XGB": pipe_xgb,
    "LGBM": pipe_lgbm,
    "Cat Boost": pipe_catboost
}

In [187]:
results = {}

for name, model in models.items():
    print(f"Start {name}!")
    _, results[name] = cross_val_scores(
        model,
        X_train,
        y_train,
        X_val,
        y_val,
        return_train_score=True
    )

    print(f"Done {name}!")

Start Logistic Regression!
Done Logistic Regression!
Start Decision Tree!
Done Decision Tree!
Start Random Forest!
Done Random Forest!
Start XGB!
Done XGB!
Start LGBM!
Done LGBM!
Start Cat Boost!
Done Cat Boost!

In [188]:
# After adding days differences

In [189]:
pd.DataFrame(results)

,Logistic Regression,Decision Tree,Random Forest,XGB,LGBM,Cat Boost
r2_val,0.385086,0.026229,0.545783,0.540248,0.492052,0.531951
mse_val,1909.205322,3023.397068,1410.268143,1427.454173,1577.093086,1453.214232
mape_val,0.515567,0.426531,0.376841,0.421705,0.454468,0.427346
r2_train,0.356415,0.999416,0.936223,0.672971,0.540750,0.630038
mse_train,2204.731871,2.001399,218.480532,1120.302836,1573.254544,1267.378386
mape_train,0.592788,0.001816,0.158760,0.438465,0.495501,0.459048

In [164]:
# After adding standard deviations

In [161]:
pd.DataFrame(results)

,Logistic Regression,Decision Tree,Random Forest,XGB,LGBM,Cat Boost
r2_val,0.385085,0.059877,0.545363,0.534425,0.494208,0.528463
mse_val,1909.208302,2918.925550,1411.571958,1445.532355,1570.399565,1464.045926
mape_val,0.515567,0.426046,0.376755,0.423126,0.450955,0.425277
r2_train,0.356415,0.999416,0.936218,0.668663,0.537611,0.631348
mse_train,2204.731902,2.001399,218.498712,1135.060787,1584.007231,1262.891299
mape_train,0.592788,0.001816,0.158508,0.441510,0.495362,0.459346

In [163]:
# After converting some features to categorical

In [113]:
pd.DataFrame(results)

,Logistic Regression,Decision Tree,Random Forest,XGB,LGBM,Cat Boost
r2_val,0.385100,0.117967,0.550884,0.525276,0.495206,0.528121
mse_val,1909.164360,2738.565616,1394.431053,1473.940652,1567.302467,1465.107375
mape_val,0.515701,0.419623,0.377436,0.424797,0.450248,0.427334
r2_train,0.356337,0.999416,0.936353,0.666978,0.535853,0.628377
mse_train,2204.999848,2.001399,218.034683,1140.834124,1590.028807,1273.070945
mape_train,0.592698,0.001816,0.159035,0.443487,0.494998,0.459106

In [162]:
# Base result

In [19]:
pd.DataFrame(results)

,Logistic Regression,Decision Tree,Random Forest,XGB,LGBM,Cat Boost
r2_val,0.384811,0.188294,0.552406,0.531974,0.494534,0.529375
mse_val,1910.059142,2520.213329,1389.706644,1453.143337,1569.389215,1461.211709
mape_val,0.515553,0.423858,0.378454,0.424709,0.451351,0.426646
r2_train,0.355856,0.999416,0.936742,0.668158,0.535998,0.629726
mse_train,2206.647047,2.001399,216.703697,1136.793266,1589.534230,1268.447180
mape_train,0.592920,0.001816,0.159051,0.441472,0.496587,0.459088